.logo-showcase-container {
    background-color: #fff;
    width: 100%;
}

.logo-item {
    transition: transform 0.3s ease;
}

.logo-item:hover {
    transform: scale(1.05);
}

.button-line-absolute-theme {
    @apply absolute bg-primary transition-all duration-300 ease-in-out;
}
