@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@plugin "@tailwindcss/typography";

/*@font-face {
    font-family: 'Joyful';
    src: url('/assets/fonts/Joyful.otf');
}*/

@theme {
    --container-max-width: 120px;
    --animate-slide: slide 5s linear infinite;

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-51.2%);
        }
    }
}

.button-line-absolute-theme {@apply bg-primary absolute hidden transition-all duration-500 lg:block}
.button-line-absolute-white {@apply bg-white absolute hidden transition-all duration-500 lg:block}
.small-layout-padding {@apply px-4 gap-8 py-14 lg:py-24 xl:gap-16 xl:px-16 xl:py-30 flex flex-col}
.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

@utility container-layout-padding {
    @apply px-4 py-14 lg:py-24 xl:px-16 xl:py-30
}

@utility font-joyful {
    line-height: 20px;
    @apply font-['Joyful'] text-[70px] md:text-[150px]
}

@utility font-joyful-xs {
    @apply font-['Joyful'] text-[70px] leading-[30px] tracking-wide;
}
@utility font-joyful-sm {
    @apply font-['Joyful'] text-[170px] leading-[50px] tracking-wide;
}
@utility font-joyful-lg {
    @apply font-['Joyful'] text-[310px] leading-[80px] tracking-wide;
}

@utility black-gradient-from-bottom {
    @apply bg-gradient-to-t from-black/40 to-transparent;
}
@utility black-gradient-from-top {
    @apply bg-gradient-to-b from-black/40 to-transparent;
}

@utility vertical-card-container {
    @apply aspect-square h-full content-center size-40 md:size-52 overflow-hidden rounded-2xl bg-gray-500 bg-cover bg-center xl:h-[600px] xl:w-[200px] 2xl:h-[732px] 2xl:w-[260px] xl:rounded-none
}
@utility vertical-card-content {
    @apply flex h-full flex-col items-center justify-center px-4 py-16 text-center text-white xl:justify-between
}

@utility clip-path-1 {
    clip-path: polygon(6% 0, 95% 0, 100% 100%, 0% 100%);
}
@utility clip-path-2 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

p {
    /*@apply font-light*/
}

@theme {
    --default-font-family: "Poppins", sans-serif;
    --color-primary: #009BAC;
    --color-secondary: #000033;
}


/*ADYEN Style*/
.adyen-checkout__payment-method--selected {
    background: none !important;
}

:root {
--adyen-sdk-color-background-primary: none
}
